.talent-icon-background {
    background-image: url("/talent-icons-sprite.png");
}

.stack {
    background-position: 0px -50px;
}

.stack:hover, .stack.active {
    background-position: 0px 0px;
}

.stamina {
    background-position: -50px -50px;
}

.stamina:hover, .stamina.active {
    background-position: -50px 0px;
}

.sweet-tooth {
    background-position: -100px -50px;
}

.sweet-tooth:hover, .sweet-tooth.active {
    background-position: -100px 0px;
}

.leadership {
    background-position: -150px -50px;
}

.leadership:hover, .leadership.active {
    background-position: -150px 0px;
}

.water-resist {
    background-position: -200px -50px;
}

.water-resist:hover, .water-resist.active {
    background-position: -200px 0px;
}

.water-damage {
    background-position: -250px -50px;
}

.water-damage:hover, .water-damage.active {
    background-position: -250px 0px;
}

.electric-damage {
    background-position: -300px -50px;
}

.electric-damage:hover, .electric-damage.active {
    background-position: -300px 0px;
}

.avoid-death {
    background-position: -350px -50px;
}

.avoid-death:hover, .avoid-death.active {
    background-position: -350px 0px;
}
